
.sidebarContainer
{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    min-height: 100vh;
    justify-content: space-around;
    background-color: #2E7D32;
}

.sidebarContainer img
{
    width: 52%;
    transition: all 0.9s linear;
}

.sidebarContainer img:hover
{
    animation: bounce 0.9s linear infinite;
    cursor: pointer;
}

@keyframes bounce {
    from {}
    50% {transform: translateY(3%);}
    to {}
}

.sidebarContainer h2
{
    color: white;
}

.adminButtons
{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 70%;
    align-items: center;
}

.adminButtons button
{
    margin-top: 10%;
    color: #333333;
    font-size: 12pt;
    width: 70%;
    height: 40px;
    background-color: white;
}

.adminButtons button:hover
{
    background-color: #FFC107;
    color: #2E7D32;
}

.adminButtons .logout
{
    background-color: #D32F2F;
    color: white;
}

